mixin header()
  header.header 
    .dsafs hellfsdfsd 
    .class sdadasd 
    .casdas fdsfsdf 
    ul.dsfsdf 
      li.dsfgsdf adfgdfg
      li.dsfgsdf dfgdfgdf
      li.dsfgsdf sdfsdfs
      li.dsfgsdf asdasdas
      li.dsfgsdf fdfgdfg
      li.dsfgsdf asdasaw